<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/balanceInquiry">Balance Inquiry</a>
    <form action="/deposit" method="POST">
        <input type="text" placeholder="submit amount..." id="deposit" name="deposit">
        <button>Deposit</button>
    </form>
    <form action="/withdraw" method="POST">
        <input type="text" placeholder="submit amount..." id="withdraw" name="withdraw">
        <button>Withdraw</button>
    </form>
</body>
</html>